[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
langchain = "*"
langchain-community = "*"
pypdf = "*"
python-dotenv = "*"
openai = "*"
tiktoken = "*"
docarray = "*"
streamlit = "*"
ruff = "*"
pre-commit = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
